section{
background-image: url('../img/background.jpg');
background-size: cover; 
}

#article-list {
    display:grid;
    grid-template-columns: 50% auto;
    padding: 4em 4em;
    background-color: white; 
    width: 75%;
    margin: 50px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
 nav ul li{
        float:right;
       font-size: 20;
    }
